html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    color: #eee7e7;
}

.headerBackGround {
    background-color: #4F2992;
}

.logoLSU {
    width: 15rem;
    margin: 0;
}

a.headerAnchor:hover, a.mainPageAnchor:hover {
    background-color: white;
}


/*
    Dropdown menu stuff for resource page ends here
 */

@media (prefers-color-scheme: dark) {
    body {
        margin: 0;
        padding: 0;
        color: #646161;
    }

    .headerBackGround {
        background-color: #4F2992;
    }

    .logoLSU {
        width: 15rem;
        margin: 0;
    }

    a.headerAnchor:hover, a.mainPageAnchor:hover {
        background-color: #6e6c6c;
    }


}